@import url(./buttons.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body {
    background-color: #181818;
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    max-inline-size: 900px;
    margin: auto;
}

.player {
    margin-block-start: 100px;
    position: relative;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}

.player-title {
    font-size: 1.5rem;
    color: #FFF;
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: 20px;
}

.player-actions {
    position: absolute;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width:500px) {
    .player-actions {
        transform: scale(.90);
    }

    .player-title {
        font-size: 1.4rem;
    }
}

.player-progress {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input[type=range] {
    flex: 1;
    transform: scale(.95);

}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay {
    opacity: .90;
}